body {
    background-color: #002655
}

#reloj01{
  margin-top: 50px; 
  margin-left: 50px; 
  background-color: #00000059;  
  position: absolute;
}

#mensaje {
    font-size: 5rem;
    color: white;
    font-family: Courier, "Lucida Console", monospace;
    text-align: center;
}

.btnFullScrean {
  position:fixed;
  bottom:5px;
  outline: none;
	width: 100px;
	height: 50px;
	border: 3px groove #C20000;
	background-color: #3e3e3e;
	color: #fff;
  font-size: 2.5em;
	transition: all, ease-in-out 0.3s;
}

.btnFullScrean::-moz-focus-inner{border:0;}

.btnFullScrean:hover {
	border-radius: 30px;
}

@media screen and (max-width: 700px) {
.btnFullScrean{
display:none;
}
}
